<div class="container alpacaContainer pt-5">
  <div class="row earsRow">
    <img [src]="alpaca?.earsUrl" class="alpacaImg" />
  </div>
  <div class="row hairRow">
    <img [src]="alpaca?.hairUrl" class="alpacaImg" />
  </div>
  <div class="row neckRow">
    <img [src]="alpaca?.neckUrl" class="alpacaImg" />
  </div>
  <div class="row eyesRow">
    <img [src]="alpaca?.eyesUrl" class="alpacaImg" />
  </div>
  <div class="row noseRow">
    <img [src]="alpaca?.noseUrl" class="alpacaImg" />
  </div>
  <div class="row mouthRow">
    <img [src]="alpaca?.mouthUrl" class="alpacaImg" />
  </div>
</div>
